/**
 *
 * Bimeson List Post Type Admin
 *
 * @author Takuto Yanagida
 * @version 2021-07-13
 *
 */


.bimeson-list-edit-row {
	display        : flex;
	align-items    : center;
	justify-content: flex-end;
	flex-wrap      : wrap;
	gap            : 1em;

	margin-top: 1.5em;
}

.bimeson-list-edit-row label {
	display    : inline-flex;
	align-items: center;

	white-space: nowrap;
}

.bimeson-list-edit-row label input[type="checkbox"] {
	margin-top: 0;
}

.bimeson-list-edit-row div {
	display        : flex;
	align-items    : center;
}

.bimeson-list-loading-spin {
	margin-right: 1em;

	visibility: hidden;
}

.bimeson-list-loading-spin span {
	display: inline-block;
	width  : 2em;
	height : 2em;

	border          : 3px solid #fa0;
	border-top-color: transparent;
	border-radius   : 50%;
	animation       : rotate 0.75s 0s linear infinite;
	transform       : rotate(360deg);
}

@keyframes rotate {
	  0% { transform: rotate(  0deg) scale(1.0); }
	 50% { transform: rotate(180deg) scale(0.6); }
	100% { transform: rotate(360deg) scale(1.0); }
}
