/**
 * Publication List Filter (Common)
 *
 * @author Takuto Yanagida
 * @version 2024-01-26
 */

 .wplug-bimeson-filter {
	margin-block-end: -1rem;

	@media (min-width: 900px) {
		column-count: 2;
		column-gap  : 2rem;
	}
}

.wplug-bimeson-filter-key {
	margin: 0;

	display       : inline-flex;
	flex-direction: column;
	align-items   : flex-start;

	width: 100%;

	margin-block-end: 1rem;
}

.wplug-bimeson-filter-key > div:nth-child(1) {
	margin: 0.25rem auto 0 0;

	display              : grid;
	grid-template-columns: auto 1fr auto;
	align-items          : center;
	gap                  : 0 0.75rem;

	width    : fit-content;
	min-width: 75%;

	& label {
		font-weight: bold;
		user-select: none;
	}
}

.wplug-bimeson-filter-values {
	margin: 0;

	display            : flex;
	flex-wrap          : wrap;
	padding-block-start: 0.5rem;

	& label {
		display    : inline-flex;
		align-items: center;
		padding    : 0.5rem;
		user-select: none;

		line-height: 1;

		& input {
			margin-inline-end: 0.5rem;
		}
	}
}


// -----------------------------------------------------------------------------


.wplug-bimeson-list {
	*[data-count='0'] {
		display: none;
	}
	:is(ol, ul) {
		li[hidden] {
			display: none;
		}

		min-height: var(--height, unset);
	}
}


// -----------------------------------------------------------------------------


input[type='checkbox']:is(.wplug-bimeson-filter-enabled, .wplug-bimeson-filter-relation) {
	display: none;
}

.wplug-bimeson-filter-enabled + label {
	box-sizing: content-box;

	display  : inline-block;
	position : relative;
	width    : calc(3em - 12px);
	min-width: calc(3em - 12px);
	height   : calc(1.5em - 6px);

	outline    : 0;
	cursor     : pointer;
	user-select: none;

	padding      : 3px;
	background   : #fff;
	border-radius: 1em;
	box-shadow   : inset 0 1px 3px 1px rgba(0, 0, 0, 0.35);

	transition: all .4s ease;

	&::after {
		box-sizing: border-box;

		display : block;
		content : '';
		position: relative;
		width   : 50%;
		height  : 100%;
		left    : 0;

		background   : #f7f7f7;
		border-radius: 50%;
		box-shadow   : 0 1px 3px 1px rgba(0, 0, 0, 0.35);

		transition: all 0.2s ease;
	}
}

.wplug-bimeson-filter-enabled:checked + label {
	&::after {
		left: 50%;
	}
	background-color:rgba(53, 130, 196, 0.8);
}

.wplug-bimeson-filter-relation + label {
	box-sizing: border-box;

	display              : inline-grid;
	grid-template-columns: 1fr 1fr;

	position : relative;
	width    : 4.5em;
	min-width: 4.5em;
	height   : 1.5em;

	outline    : 0;
	cursor     : pointer;
	user-select: none;

	padding      : 3px;
	background   : #fff;
	border-radius: 0.25em;
	box-shadow   : inset 0 1px 3px 1px rgba(0, 0, 0, 0.35);

	transition: all .4s ease;

	& span {
		display    : inline-grid;
		place-items: center;
		font-size  : 65%;
		line-height: 1;
		color      : #aaa;
	}

	&::after {
		content    : 'OR';
		display    : grid;
		place-items: center;
		font-size  : 65%;
		line-height: 1;

		position: absolute;
		width   : calc(50% - 3px);
		height  : calc(100% - 6px);
		inset   : 3px auto auto 3px;

		background-color: rgba(53, 130, 196, 0.8);
		border-radius   : 2px;
		box-shadow      : 0 1px 2px 1px rgba(0, 0, 0, 0.35);
		color           : #fff;

		transition: all 0.2s ease;
	}
}

.wplug-bimeson-filter-relation:checked + label::after {
	content: 'AND';
	left   : 50%;
}
