/**
 *
 * Bimeson (Post Type)
 *
 * @author Takuto Yanagida
 * @version 2021-08-31
 *
 */


.wplug-bimeson-list-edit-row {
	display        : flex;
	align-items    : center;
	justify-content: flex-end;
	flex-wrap      : wrap;
	gap            : 1em;

	margin-top: 1.5em;

	label {
		display    : inline-flex;
		align-items: center;
		white-space: nowrap;
	}
	label input[type="checkbox"] {
		margin-top: 0;
	}
	div {
		display    : flex;
		align-items: center;
	}
}


.wplug-bimeson-list-loading-spin {
	margin-right: 1em;
	visibility  : hidden;

	span {
		display: inline-block;
		width  : 2em;
		height : 2em;

		border          : 3px solid #fa0;
		border-top-color: transparent;
		border-radius   : 50%;
		animation       : rotate 0.75s 0s linear infinite;
		transform       : rotate(360deg);
	}
}

@keyframes rotate {
	  0% { transform: rotate(  0deg) scale(1.0); }
	 50% { transform: rotate(180deg) scale(0.6); }
	100% { transform: rotate(360deg) scale(1.0); }
}
